
@model IEnumerable<homework.Models.FileModel>
@{
    ViewData["Title"] = "Добавление файла";
}

<h3>Выберите файл для загрузки</h3>
<div>
    @using (Html.BeginForm("Import", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm-excel" }))
    {
        <div>
            Загрузите Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" />
            <div>
                <input type="submit" value="Загрузить" />
            </div>
        </div>

    }
    @using (Html.BeginForm("OutInExcel", "Home", FormMethod.Post))
    {
        <div>
            <input type="submit" value="jnx" />
        </div>

    }


</div>